.ticket-status {
    width: 23px;
    background-color: indianred;
}

/* High Priority */
.priority-high {
    background-color: red;
}

/* Medium Priority */
.priority-medium {
    background-color: orange;
}

/* Low Priority */
.priority-low {
    background-color: green;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 4px;
    width: 50rem;
}

.discussions,.open-ticket {
    cursor: pointer;
}