.ticket-status {
    width: 23px;
}

/* High Priority */
.priority-high {
    background-color: red;
}

/* Medium Priority */
.priority-medium {
    background-color: orange;
}

/* Low Priority */
.priority-low {
    background-color: green;
}